body {
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
}

h1, h2, h3 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.title-buttons {
    text-align: left;
}

.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

@media (max-width: 1028px) {
    .title-buttons {
        text-align: center;
    }

    .title-image {
        width: 50%;
        transform: rotate(0);
        position: static;
    }
}

.container-fluid {
    padding: 3% 15% 7%;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Dowload Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}


.fas {
    color: #ef8172;
    padding: 10px;
}

    .fas:hover {
        color: #ff4c68;
    }

.col-sm-12 {
    padding: 50px;
}

/* Testimonials */
#testimonials {
    background: #ef8172;
    color: #fff;
}

.carousel-inner {
    padding: 7% 15%;
}



.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
    padding: 100px;
}

.month {
    color: darkgray;
}

.pricing-column {
    padding: 3% 2%;
}


/* Call to Action */

#cta {
    background: #ff4c68;
    padding: 100px;
}

    #cta h3 {
        font-size: 3rem;
        color: white;
    }

/* Footer */

#footer {
    padding: 100px;
    color: darkgray;
}

.footer-icon {
    margin: 10px 30px;
    color: black;
}

    .footer-icon:hover {
        color: #ff4c68;
    }

#features {
    padding: 100px;
    background: white;
    position: relative;
    z-index: 1;
}

    #features p {
        color: #8f8f8f;
    }